rules_version = '2';
service cloud.firestore {
    match /databases/{db}/documents {

        // Violation Reports documents
        // Allows reading
        // Allows only creation of new violation reports, doesn't allow updating and deleting.
        match /violationReports/{violationReportId} {
            allow read; // TODO normal users shouldn't be able to read license plates
            allow create;
        }

        // User documents
        // Allows everything if the userIds match.
        match /users/{userId} {
             allow read, write: if isOwner(userId);
        }

        // TODO delete (allows everything)
        match /{document=**} {
            allow read, write;
        }
    }
}

function prefix() {
    return /databases/{db}/documents;
}

// Returns true if the user is the owner of the file.
function isOwner(uid) {
    return request.auth.uid == uid;
}